html {
  font-family: Oswald, sans-serif;
}

.current {
  color: #6a0300;
  text-decoration: underline;
}

.join-link {
  text-decoration: none;
  color: #000;
}

.join-link:hover {
  text-decoration: underline;
  color: #c70500;
}

.nav {
  display: none;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 5px;
}

.nav-colour a {
  color: #000;
  text-decoration: none;
}

.nav-colour a:hover {
  color: #c70500;
  text-decoration: underline;
}

header [type="checkbox"] + label::before {
  top: -10em;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.nav-d {
  display: none;
}

.nav-d a {
  text-decoration: none;
  color: #000;
}

.nav-d a:hover {
  text-decoration: underline;
  color: #c70500;
}

.sn-up {
  border-left: 2px solid #000;
  padding-left: 1.3rem;
}

.value-prop {
  font-family: "Metal Mania", sans-serif;
}

img {
  display: block;
}

.sec-1 {
  background-color: rgba(106, 3, 0, .94);
}

.banner-img {
  overflow: hidden;
}

.ban-con {
  color: #fff;
}

.btn1 {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.btn1:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.btn2 {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.btn2:hover {
  background-color: #c70500;
  color: #fff;
  border-color: #c70500;
}

.i-size {
  max-width: 96px;
}

.album {
  max-width: 10em;
}

.btn3 {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.btn3:hover {
  background-color: #c70500;
  color: #fff;
  border-color: #c70500;
}

.sec-4 {
  background-color: #000;
}

.btn4 {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.btn4:hover {
  background-color: #c70500;
  color: #fff;
  border-color: #c70500;
}

.icon-cards {
  background-color: #6a0300;
  color: #fff;
}

.icon-cards-b {
  background-color: #000;
  color: #fff;
}

.h3 {
  font-family: "Metal Mania", sans-serif;
}

.footer {
  background-color: #6a0300;
  color: #fff;
}

.foot-links a {
  color: #fff;
  text-decoration: none;
}

.foot-li a:hover {
  text-decoration: underline;
}

.price-card {
  background-color: #c70500;
  border-radius: 15px;
}

.p-h1 {
  font-family: "Metal Mania", sans-serif;
  color: #fff;
  background-color: #6a0300;
}

.p-h3 {
  font-family: "Metal Mania", sans-serif;
  color: #fff;
}

.p-small {
  color: #fff;
}

.price-label {
  color: #fff;
}

.btn-p-1 {
  background-color: #c70500;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 6px;
}

.btn-p-1:hover {
  background-color: #fff;
  color: #c70500;
  border: 5px solid #fff;
  border-radius: 6px;
}

.price-card-m {
  background-color: #6a0300;
  border-radius: 15px;
}

.btn-p-2 {
  background-color: #6a0300;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 6px;
}

.btn-p-2:hover {
  background-color: #fff;
  color: #6a0300;
  border: 5px solid #fff;
  border-radius: 6px;
}

.price-card-b {
  background-color: #000;
  border-radius: 15px;
}

.btn-p-3 {
  background-color: #000;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 6px;
}

.btn-p-3:hover {
  background-color: #fff;
  color: #000;
  border: 5px solid #fff;
  border-radius: 6px;
}

.btn-t-4 {
  background-color: #c70500;
  color: #fff;
  border-color: #c70500;
}

.btn-t-4:hover {
  background-color: #fff;
  color: #c70500;
  border-color: #fff;
}

.table, tr, th, td {
  border: none;
}

.table-w {
  width: 12em;
}

.i-label-r {
  background-color: #c70500;
  color: #fff;
  border-radius: 6px;
}

.i-label-m {
  background-color: #6a0300;
  color: #fff;
  border-radius: 6px;
}

.sign-up {
  background-color: #000;
}

.sign-up-form {
  background-color: #fff;
}

.join-h1 {
  font-family: "Metal Mania", sans-serif;
}

fieldset {
  border: none;
}

hr {
  border-color: rgba(106, 3, 0, .7);
}

input,
select,
input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  border-color: #6a0300;
}

.btn-colour {
  background-color: #000;
}

.btn-colour:hover {
  background-color: #c70500;
  border-color: #c70500;
}

.btn-colour:focus {
  outline: 3px solid #000;

  background-color: #c70500;
  border-color: #c70500;
}

.focus-title:focus {
  outline: 3px solid #fff;
}

.btn1:focus {
  outline: 3px solid #fff;

  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.btn2:focus {
  outline: 3px solid #fff;

  background-color: #c70500;
  color: #fff;
  border-color: #c70500;
}

.btn3:focus {
  outline: 3px solid #c70500;

  background-color: #c70500;
  color: #fff;
  border-color: #c70500;
}

.btn4:focus {
  outline: 3px solid #c70500;

  background-color: #c70500;
  color: #fff;
  border-color: #c70500;
}

.btn-p-1:focus {
  outline: 3px solid #fff;

  background-color: #fff;
  color: #c70500;
  border: 5px solid #fff;
  border-radius: 6px;
}

.btn-p-2:focus {
  outline: 3px solid #fff;

  background-color: #fff;
  color: #6a0300;
  border: 5px solid #fff;
  border-radius: 6px;
}

.btn-p-3:focus {
  outline: 3px solid #fff;

  background-color: #fff;
  color: #000;
  border: 5px solid #fff;
  border-radius: 6px;
}

.btn-t-4:focus {
  outline: 3px solid #fff;

  background-color: #fff;
  color: #c70500;
  border-color: #fff;
}

.ban-con:focus {
  outline: 3px solid #fff;
}

.table-w:focus {
  outline: 3px solid #c70500;
}

.focus-foot:focus {
  outline: 3px solid #fff;
}

@media only screen and (min-width: 38em) {

  header [type="checkbox"] + label,
  .nav-check:checked ~ .nav {
    display: none;
  }

  .nav-d {
    display: block;
    text-align: right;
  }

  .pad-r {
    padding-right: .7rem;
  }

  .pad-l {
    padding-left: .7rem;
  }

  .join-link {
    display: none;
  }

  .line-space {
    border-left: 3px solid #fff;
  }

}

@media only screen and (min-width: 60em) {

  .pad-r {
    padding-right: .75rem;
  }

  .pad-l {
    padding-left: .75rem;
  }

}
